# The Tezos Accuser service (part of systemd)
# file: /etc/systemd/system/tezos-accuser.service 

[Unit]
Description     = Tezos Accuser Service
PartOf		= tezos-node.service
After           = tezos-node.service

[Service]
User            = ubuntu
Group		= ubuntu
WorkingDirectory= /home/ubuntu/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/ubuntu/tezos/tezos-accuser-002-PsYLVpVv run
Restart         = always

[Install]
WantedBy	= multi-user.target tezos-node.service
