# The Tezos Baker service (part of systemd)
# file: /etc/systemd/system/tezos-baker.service 

[Unit]
Description     = Tezos Baker Service
BindsTo		= tezos-node.service
After           = tezos-node.service

[Service]
User            = ubuntu
Group		= ubuntu
WorkingDirectory= /home/ubuntu/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/ubuntu/tezos/tezos-baker-002-PsYLVpVv  run with local node "/home/tezos/.tezos-node" $BAKER_NAME
Restart         = always

[Install]
WantedBy	= multi-user.target
