# The Tezos Baker service (part of systemd)
# file: /etc/systemd/system/tezos-baker.service 

[Unit]
Description     = Tezos Baker Service
PartOf		= tezos-node.service
After           = tezos-node.service

[Service]
User            = ubuntu
Group		= ubuntu
WorkingDirectory= /home/ubuntu/
ExecStartPre	= /bin/sleep 1
ExecStart       =  /home/ubuntu/TzBake/manual_baker_start.sh $BAKER_NAME $BAKER_PASSWORD
Restart         = always

[Install]
WantedBy	= multi-user.target tezos-node.service
