# The Tezos Endorser service (part of systemd)
# file: /etc/systemd/system/tezos-endorser.service 

[Unit]
Description     = Tezos Endorser Service
PartOf		= tezos-node.service
After           = tezos-node.service

[Service]
User            = ubuntu
Group		= ubuntu
WorkingDirectory= /home/ubuntu/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/ubuntu/TzBake/manual_endorser_start_wrapper.sh
Restart         = always
RestartSec      = 1min
StartLimitBurst = 60

[Install]
WantedBy	= multi-user.target tezos-node.service
