# The Tezos Endorser service (part of systemd)
# file: /etc/systemd/system/tezos-endorser.service 

[Unit]
Description     = Tezos Endorser Service
BindsTo		= tezos-node.service
After           = tezos-node.service

[Service]
User            = ubuntu
Group		= ubuntu
WorkingDirectory= /home/ubuntu/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/ubuntu/tezos/tezos-endorser-002-PsYLVpVv run $BAKER_NAME
Restart         = always

[Install]
WantedBy	= multi-user.target
