# The Tezos Node service (part of systemd)
# file: /etc/systemd/system/tezos-node.service 

[Unit]
Description     = Tezos Node Service
Documentation	  = http://tezos.gitlab.io/betanet/

[Service]
User            = ubuntu
Group		= ubuntu
WorkingDirectory= /home/ubuntu/
ExecStart	= /home/ubuntu/tezos/tezos-node run --rpc-addr 127.0.0.1:8732  --connections 10 `bash /home/ubuntu/TzBake/get_peers.sh`
Restart         = always

[Install]
WantedBy	= multi-user.target
RequiredBy	= tezos-baker.service tezos-endorser.service tezos-accuser.service
